:root {
    --cor-branco: #e7e8dc;
    --cor-rosa: #ae0464;
    --cor-azul: #1d52a8;
    --cor-roxo: #71056f;
    --cor-cinza: #212529; 
    --cor-cinza-claro: #c5c5c5; 
    --cor-cinza-escuro:#212529;
    --cor-violeta: #8a2be2;
    --cor-preto: #000;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --fonte: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --banner-fundo: url("../img/Banner (4).jpg") no-repeat; 
    --banner-cabecalho: url("../img/Banner (1).png") no-repeat; 

}
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(var(--cor-rosa), var(--cor-azul));
    color: var(--cor-branco);
    box-sizing: border-box;    
    font-family: var(--fonte);
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: var(--fonte);
    font-size: inherit;
    line-height: inherit;
}
ul {
    display: block;
    list-style-type:none;
    unicode-bidi: isolate;
}
li {
    display: list-item;
    unicode-bidi: isolate;
}
a:-webkit-any-link {
    color: var(--cor-branco);
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: var(--cor-branco);
}
a img{
    border:0;
}
a:visited {
    color: var(--cor-violeta);
}
.clearfix{
    clear:both;
}
h2 {
    text-align: center;
    font-size: 2.25rem;
    color: var(--cor-branco);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.5em auto;
}
svg {
    display: block;    
    color: var(--cor-preto);
}
input {
   border: 1px solid var(--cor-cinza);
   border-radius: 5px;
   display: block;
   padding: 20px;
}
input:focus {
    outline: none; 
}
textarea {
    border: 1px solid var(--cor-cinza);
    border-radius: 5px;
    display: block;
    padding: 20px;
 }
 textarea:focus {
     outline: none; 
}
button {
    background-color: var(--cor-violeta);
    color: var(--cor-branco);
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;   
    outline: none; 
    box-shadow: none;  
}
button:hover {
    background-color:  var(--cor-violeta);
  }
  
button:active {
    background-color:  var(--cor-violeta);
    box-shadow: none;         
}
.conteudo {
    margin: 4em auto;
}
.titulo {
    color: var(--cor-violeta);
    font-size: 3.5rem; 
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.cabecalho {
    padding: 0;
    margin: 0;
}
.cabecalho-conteudo {    
    background: var(--banner-cabecalho);
    background-size: cover;
    width: 100%; 
    height: 500px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Banner */
.banner-conteudo {    
    background: var(--banner-fundo);
    background-size: cover;
    width: 100%;
    height: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.banner-conteudo p {
    color: white;
    font-size: 1.5rem;
    margin: 10px 10px 50px 10px;
    padding: 5px;  
    text-transform: uppercase; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.banner-conteudo a {
    width:3em;
    background-color: var(--cor-violeta);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--cor-branco);
}
/* Menu */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor-cinza-escuro);
    padding: 15px;
    color: var(--cor-branco);
    position: fixed;
    z-index: 999;    
    width: 100%;    
    box-shadow: 0 2px 5px var(--cor-cinza-escuro);
}
nav a {
    background: none;
    border: none;
    color: var(--cor-branco);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 5px 10px;
}
nav img {
    height: 30px;
}
nav form input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
nav ul {
    display: flex;
    gap: 20px;
}
nav ul li {
   font-size: 1.5rem;
   text-transform: uppercase;
}
/* Carrossel */
.slider-container {
    display: flex;
    width: 100%;
    gap: 20px;
}
.slider-column {
    flex: 1;
    position: relative;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.slider img {
    width: 100%;
    display: none;
    animation: fade 1s ease-in-out;
}
.slider img.active {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.slider-controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls button:hover {
    background: rgba(0, 0, 0, 0.8);
}
/* Contador */
.contador-conteudo {
    display: flex;
    justify-content: center;
    gap: 5em;
    width: 100%;
    margin: 10px;
}
.contador-conteudo div p {
    font-size: 6.25rem;
    text-align: center;
}
.contador-conteudo div span {
    font-size: 2.5rem;
    text-align: center;
}

/* sobre*/
.sobre-conteudo {
    display: flex;
    justify-content: space-around;
    gap:1em;
    margin: auto 25em;
}
.sobre-imagem img{
    width: auto;
    height: 400px;
}
.sobre-descricao {
    text-align:justify;
    color: var(--cor-branco);
    font-size: 1.25rem;
}
.sobre-descricao h3 {
    margin:5px auto;  
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sobre-social {
    padding: 5px 0;
    margin:5px auto;  
    border-top: 3px solid var(--cor-branco);
}
.sobre-social a {  
    margin:10px 5px;
    font-size: 2em;
    color: var(--cor-branco);
}
/* Testemunho */
.testemunho {
    background-color: var(--cor-cinza-escuro);
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    margin: 30px 0px 30px 0px;
}
.testemunho-conteudo {
    display: flex;
    gap: 1.85em;
    padding: .8em;
    margin: auto 10em;
    background-color:transparent;
    text-align: center;
    font-size: 30px;
}
.testemunho-conteudo > div {
    flex: 1;
}
.testemunho-pessoa {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.testemunho-item, .testemunho-descricao {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.testemunho-pessoa img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}
.testemunho-pessoa h4  {
    font-size: .6em;
}
.testemunho-item p  {
    font-size: .5em;
    text-align:center;
}
.testemunho-classificacao {
    font-size: .5em;
}
/* conteudo */
.contato-conteudo {
    display: flex;
    gap: 20px; 
}
.contato-conteudo-item {
    flex: 1; 
    padding: 20px;
}
.contato-conteudo-item p {
    text-align:justify;
    color: var(--cor-branco);
    font-size: 1.25rem;
}
.contato-conteudo-item form {
    display: flex;
    gap: 20px; 
    flex-direction: column;
}
.contato-conteudo-item input {
    height: auto;
    width: auto;
}
.contato-conteudo-item textarea {
    height: auto;
    width: auto;
}
.produtos-descricao, .blog-descricao {
    margin: 0.9em;
    text-align: center;
    font-size: 1.2em;
}
.produtos-conteudo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    background-color: transparent;
    padding: 10px;
    margin: auto 25em;
}
.produtos-conteudo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    gap: 5px;
}
.produtos-conteudo-item h3 {
    line-height: 18px;
    margin: 5px 0;
    color: var(--cor-branco);
}
.produtos-conteudo-item span {
    display: block;
    color: var(--cor-branco);
    font-size: 1rem;
    font-weight:lighter;
    text-align: center;
}
.produtos-conteudo-item img {
    height: 135px;
    width: 135px;
    background: var(--cor-cinza-claro);
    border: 5px solid var(--cor-cinza-claro);
    margin: 5px;
}

/* Carrossel produtos */
.imgCarrossel {
    width: 250px;
    height: 312px;
    cursor: pointer;
}
.imagens {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 20px;
}
.imagens img {
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
}
.imagens img:hover {
    width: 260px;
}
/* Galeria de Imagens*/
.galeria {
    columns: 200px;
    margin: 0.5em;
    column-gap: 0.5em;
}
.galeria img {
    width: 100%;
    margin-bottom: 0.5;
    border-radius: 10px;
}
/* Newletter */
.newsletter-conteudo {
    background-color: var(--cor-cinza-claro);
    display:flex; 
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 6%;
    color: var(--cor-branco);
}
.newsletter-conteudo form {
    display: flex;
    gap: 20px;
    margin: 10px;
    justify-content: center;
}
.newsletter-conteudo h2 {
    text-transform: uppercase;
    color: var(--cor-preto);
}
.newsletter-conteudo input {
    width: 50%;
    height: auto;
    margin-right: 10px;
    border:none;
}
.newsletter-conteudo button {
    width: 200px;
}
/* Blog */
.blog-conteudo  {
    display: flex;
    gap: 20px;
    justify-content:space-between;
    margin: auto 1.25em;
}
.blog-conteudo > div {
    flex: 1;
}
.blog-conteudo-item {
    transition: 1s;
    display: flex;
    background-color: var(--cor-cinza-claro);
}
.blog-conteudo-item img {
    width: 100px;
    height: 137px;
    transition: 1s;
}
.blog-conteudo-item:hover img {
    transform: scale(1.05);
}
.blog-cabecalho {
    display: flex;
    justify-content:space-between;
    align-items:baseline;
    gap: .3em;
}
.blog-detalhes {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: .5em;
}
.blog-detalhes p {
    color: var(--cor-cinza-escuro);
    text-align: justify;
    font-size: .8em;
}
.blog-detalhes h5 {
    color: var(--cor-violeta);  
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    font-size: .9em;
}
.blog-data {
    display: flex;
    justify-content: center;
    justify-items: center; 
    gap:.2em;
    color: var(--cor-violeta); 
    font-size: .8em;
}
.blog-tags {
    background-color: var(--cor-violeta);
    color: var(--cor-branco); 
    padding: .3em;
    border-radius: 20px;
    font-size: .8em;
}
.blog-link {
    color: var(--cor-violeta); 
}
.blog-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    color: var(--cor-violeta);
}
/* card de produto */
.card-produto {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    background-color: transparent;
    padding: 10px;
}
.card-produto > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.card-produto img {
    object-fit: cover;
    width: 150px;
}
/* Rodape */
.footer {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    text-align: center !important;
    --bs-text-opacity: 1;
    color: var(--cor-cinza-claro) !important;
    background-color: var(--cor-cinza-escuro) !important;
    font-family: var(--fonte);
}
.footer-conteudo {
    display: flex;
    gap: 20px; 
    margin: 0 50px;
}
.footer-conteudo-item {
    flex: 1; 
    padding: 20px;
    align-items: center;
}
.footer-conteudo-item img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    justify-items: center;
}
.footer-conteudo-item ul{
    text-align: left;
    list-style-type: none;
    padding: 5px;
}
.footer-conteudo-item li {
    padding-bottom: 5px;
}
.footer-conteudo-item p {
    text-align:justify;
    color: var(--cor-branco);
    font-size: 1.25rem;
}
.footer-conteudo-item-titulo {
    color: var(--cor-violeta) !important;
    font-weight: 700;
    font-size: 1.25rem;
    border-bottom: 3px solid var(--cor-branco);
    margin-bottom: 20px;
    padding: 15px;
}
.footer-conteudo-item-destaque {
    float:left;
    width:100%;
    padding:0;
    margin:25px 0 0
}
.footer-conteudo-item-destaque h4 {
    margin:0; 
    text-align: left;
}
.footer-conteudo-item-destaque h5 {
    margin-top: 10px;
    text-align: left;
    font-weight: lighter;
}
.footer-conteudo-item-destaque img {
    position:relative;
    float:left;
    width:64px;
    height:64px;
    overflow:hidden;
    z-index:1;
    margin:0 13px 0 0;
    border-radius:6px;
    object-fit: cover;
}
.footer-social {
    margin: 10px 0;
    font-size: 2em;
}

@media (max-width: 600px) {
    nav {
        align-items: center;
    }
    nav ul {
        text-align: center;
    }    
    nav ul li {
        margin: 5px 0;
    }
    .slider-controls button {
        padding: 5px 10px;
    }
    .contador-grid {
        gap: 0.5rem;
        width: 100%;
        margin: 5px;
    }
    .contador div p {
        font-size: 1.25rem;
        text-align: center;
    }
    .contador div span {
        font-size: 0.8rem;
        text-align: center;
    }
    .grid-sobre-column {
        padding: 5px 0 5px 0;
    }
    .grid-sobre-column img {
        width: 100%;
        padding: 0;
    }
    .grid-sobre-column p {
        padding: 0;
    }
    .grid-sobre-column p, .grid-contato-column p  {
        font-size: 0.9rem;
    }
    .grid-contato, .footer-grid {
        flex-direction:column-reverse;
    }
    .banner h2, .banner p {
        font-size: 1rem;
        margin: 0;
    }
    .banner a {
        font-size: 0.8rem;
        padding: 5px; 
    }
     .produtos span, .blog-item h3 {
        font-size: 0.8rem;
    }
    .produtos-left, .produtos-right {
        text-align: center;
        width: 100%;
    }
    .newsletter h2 {
        font-size: 1rem; 
    }
    .grid-sobre, .produtos, .newsletter form, .blog-grid, .footer-grid  { 
        flex-direction: column;
        align-items: center;
    }
    .newsletter, .grid-contato-column input {
        padding: 5px       
    }    
    .blog-item {
        width: 135px;
        height: 135px;
        transition: 1s;
        display: flex;
        gap:20px;
        flex-direction: column;
        margin: 20px;
    }
    .blog-item img {
        width: 135px;
        height: 135px;
    }

}